Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-autogpt, isort-forge, isort-benchmark, pytest-autogpt, pytest-forge

isort-autogpt:
  name: Lint - isort - AutoGPT
  entry: poetry -C autogpt run isort
  language: system

isort-forge:
  name: Lint - isort - Forge
  entry: poetry -C forge run isort
  language: system

isort-benchmark:
  name: Lint - isort - Benchmark
  entry: poetry -C benchmark run isort
  language: system

pytest-autogpt:
  name: Pytest - AutoGPT (excluding slow tests)
  entry: bash -c 'cd autogpt && poetry run pytest --cov=autogpt -m "not slow" tests/unit tests/integration'
  verbose: true
  language: system
  pass_filenames: false

pytest-forge:
  name: Pytest - Forge (excluding slow tests)
  entry: bash -c 'cd forge && poetry run pytest --cov=forge -m "not slow"'
  verbose: true
  language: system
  pass_filenames: false

exclude forge/**/*_test.py files from trigger for AutoGPT pyright and pytest hooks
  .pre-commit-config.yaml
Due: none

test(forge): properly close sqlite3 test db connection in db_test.py
  forge/forge/agent_protocol/database/db_test.py
Due: isort-forge, pytest-autogpt, pytest-forge

silence type checking issues in test_s3_file_storage.py
  .github/workflows/benchmark-ci.yml
  autogpt/tests/unit/test_s3_file_storage.py
Due: isort-autogpt, pytest-autogpt

add `AgentDB.close()` method; another attempt at fixing test DB teardown in db_test.py
  forge/forge/agent_protocol/database/db.py
  forge/forge/agent_protocol/database/db_test.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix ChatMessage
  forge/forge/llm/providers/schema.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix `S3BinaryIOWrapper.read` -> `S3FileStorage.read_file`
  forge/forge/file_storage/s3.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix shell settings in benchmark-ci.yml
  .github/workflows/benchmark-ci.yml
Due: none

ghrs: snap 05-27-2302-D773 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-27_230234_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-27_230234_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-27_230234_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 05-27-2302-D773 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-27_230234_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 05-27-2302-D773 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 05-27-2302-D773 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

unbreak benchmark
  benchmark/agbenchmark/conftest.py
Due: isort-benchmark

fix `agbenchmark.challenges.builtin` challenge exclusion mechanism on Windows
  benchmark/agbenchmark/challenges/builtin.py
Due: isort-benchmark

unbreak Battleship challenge
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_in/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/battleship.py
Due: isort-benchmark

broom
  autogpt/tests/unit/test_config.py
  benchmark/agbenchmark/challenges/base.py
  forge/forge/config/config.py
  forge/forge/llm/providers/openai.py
Due: isort-autogpt, isort-forge, isort-benchmark, pytest-autogpt, pytest-forge

ghrs: snap 05-28-2302-D861 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-28_230230_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-28_230230_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-28_230230_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 05-28-2302-D861 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-28_230230_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 05-28-2302-D861 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 05-28-2302-D861 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Move tests to `forge`
  forge/forge/components/__init__.py
  forge/forge/components/code_executor/test_code_executor.py
  forge/forge/components/file_manager/test_file_manager.py
  forge/forge/components/git_operations/test_git_operations.py
  forge/forge/components/image_gen/test_image_gen.py
  forge/forge/components/web/test_search.py
  forge/forge/components/web/test_selenium.py
  forge/forge/conftest.py
  forge/forge/file_storage/test_gcs_file_storage.py
  forge/forge/file_storage/test_local_file_storage.py
  forge/forge/file_storage/test_s3_file_storage.py
  forge/forge/json/test_parsing.py
  forge/forge/logging/test_utils.py
  forge/forge/utils/test_file_operations.py
  forge/forge/utils/test_url_validator.py
Due: isort-forge, pytest-autogpt, pytest-forge

Fix tests
  autogpt/poetry.lock
  forge/forge/agent/base.py
  forge/forge/agent/components.py
  forge/forge/components/action_history/action_history.py
  forge/forge/components/action_history/model.py
  forge/forge/components/code_executor/__init__.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/components/code_executor/test_code_executor.py
  forge/forge/components/file_manager/file_manager.py
  forge/forge/components/file_manager/test_file_manager.py
  forge/forge/components/git_operations/git_operations.py
  forge/forge/components/git_operations/test_git_operations.py
  forge/forge/components/image_gen/image_gen.py
  forge/forge/components/image_gen/test_image_gen.py
  forge/forge/components/web/selenium.py
  forge/forge/components/web/test_search.py
  forge/forge/components/web/test_selenium.py
  forge/forge/conftest.py
  forge/forge/content_processing/text.py
  forge/forge/file_storage/test_gcs_file_storage.py
  forge/forge/file_storage/test_local_file_storage.py
  forge/forge/file_storage/test_s3_file_storage.py
  forge/forge/json/test_parsing.py
  forge/forge/utils/test_file_operations.py
  forge/forge/utils/test_url_validator.py
  forge/poetry.lock
  forge/pyproject.toml
Due: isort-forge, pytest-autogpt, pytest-forge

Update `image_gen.py`
  forge/forge/components/image_gen/image_gen.py
Due: isort-forge, pytest-autogpt, pytest-forge

Add `config_file` to CLI and `Config`
  autogpt/.env.template
  autogpt/README.md
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/config.py
  autogpt/autogpt/app/cli.py
  autogpt/autogpt/app/configurator.py
  autogpt/autogpt/app/main.py
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/usage.md
  forge/forge/agent/base.py
  forge/forge/agent/components.py
  forge/forge/components/action_history/action_history.py
  forge/forge/components/action_history/model.py
  forge/forge/components/code_executor/__init__.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/components/file_manager/file_manager.py
  forge/forge/components/image_gen/image_gen.py
  forge/forge/components/web/selenium.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

ghrs: snap 05-29-2302-FA8D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-29_230242_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-29_230242_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-29_230242_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 05-29-2302-FA8D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-29-2302-FA8D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-29_230242_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-29-2302-FA8D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

remove unused imports in ai_profile.py
  forge/forge/config/ai_profile.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix(benchmark): Improve output and debug logging of pytest evals
  benchmark/agbenchmark/challenges/builtin.py
Due: isort-benchmark

ghrs: snap 05-30-2302-5CAD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-30_230235_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-30_230235_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-30_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 05-30-2302-5CAD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-30_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 05-30-2302-5CAD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 05-30-2302-5CAD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix linting errors
  autogpt/autogpt/app/configurator.py
  forge/forge/config/config.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

Path conditions:
  isort-autogpt: any of: ^autogpt/ and \.py$
  isort-forge: any of: ^forge/ and \.py$
  isort-benchmark: any of: ^benchmark/ and \.py$
  pytest-autogpt: any of: ^(autogpt|forge)/((autogpt|forge|tests)/|poetry\.lock$)
  pytest-forge: any of: ^forge/(forge/|tests/|poetry\.lock$)
