Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-autogpt, isort-forge, isort-benchmark, pytest-autogpt, pytest-forge

isort-autogpt:
  name: Lint - isort - AutoGPT
  entry: poetry -C autogpt run isort
  language: system

isort-forge:
  name: Lint - isort - Forge
  entry: poetry -C forge run isort
  language: system

isort-benchmark:
  name: Lint - isort - Benchmark
  entry: poetry -C benchmark run isort
  language: system

pytest-autogpt:
  name: Pytest - AutoGPT (excluding slow tests)
  entry: bash -c 'cd autogpt && poetry run pytest --cov=autogpt -m "not slow" tests/unit tests/integration'
  verbose: true
  language: system
  pass_filenames: false

pytest-forge:
  name: Pytest - Forge (excluding slow tests)
  entry: bash -c 'cd forge && poetry run pytest --cov=forge -m "not slow"'
  verbose: true
  language: system
  pass_filenames: false

WIP: fix type issues in `forge.llm.providers` (+ `forge.models.providers`)
  forge/forge/llm/providers/__init__.py
  forge/forge/llm/providers/anthropic.py
  forge/forge/llm/providers/groq.py
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/openai.py
  forge/forge/llm/providers/schema.py
  forge/forge/models/providers.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix linting issue in forge/__main__.py
  forge/forge/__main__.py
Due: isort-forge, pytest-autogpt, pytest-forge

add forge test_workspace and test DB files to .gitignore
  forge/.gitignore
Due: none

ghrs: snap 05-26-2302-CBCB for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-26_230223_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-26_230223_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-26_230223_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 05-26-2302-CBCB for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-05-26_230223_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 05-26-2302-CBCB for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 05-26-2302-CBCB for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

expand overloads of `GCSFileStorage.open_file` for improved typing of read and write modes
  forge/forge/file_storage/gcs.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix(agent, forge): Update `tiktoken` for GPT-4o support
  autogpt/poetry.lock
  autogpt/pyproject.toml
  forge/poetry.lock
  forge/pyproject.toml
Due: pytest-autogpt, pytest-forge

Update configs
  autogpt/autogpt/agents/agent.py
  autogpt/tests/conftest.py
  docs/content/forge/components/creating-components.md
  forge/forge/agent/base.py
  forge/forge/agent/components.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/models/config.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

silence type checking issue in `forge.file_storage.gcs`
  forge/forge/file_storage/base.py
  forge/forge/file_storage/gcs.py
Due: isort-forge, pytest-autogpt, pytest-forge

Move `Config` back to `autogpt`
  autogpt/.env.template
  autogpt/agbenchmark_config/benchmarks.py
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/generators.py
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/config.py
  autogpt/autogpt/app/agent_protocol_server.py
  autogpt/autogpt/app/configurator.py
  autogpt/autogpt/app/main.py
  autogpt/autogpt/app/setup.py
  autogpt/tests/conftest.py
  autogpt/tests/integration/agent_factory.py
  autogpt/tests/integration/test_setup.py
  autogpt/tests/unit/test_config.py
  docs/content/AutoGPT/configuration/options.md
  forge/forge/agent/components.py
  forge/forge/components/action_history/model.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/config/__init__.py
  forge/forge/config/base.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

fix type issues with `forge.file_storage` and `forge.components.file_manager`
  forge/forge/file_storage/base.py
  forge/forge/file_storage/s3.py
Due: isort-forge, pytest-autogpt, pytest-forge

clean up lenient flake8 configs
  autogpt/.flake8
  benchmark/.flake8
  forge/.flake8
Due: none

fix type `ActionProposal` related type issues
  forge/forge/agent/base.py
  forge/forge/agent/protocols.py
  forge/forge/components/action_history/action_history.py
  forge/forge/components/action_history/model.py
  forge/forge/components/watchdog/watchdog.py
  forge/forge/models/action.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix type issues in `forge.agent.base` <-> `forge.agent.protocols`
  forge/forge/agent/base.py
  forge/forge/agent/protocols.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix type issue in `forge.command`
  forge/forge/command/command.py
Due: isort-forge, pytest-autogpt, pytest-forge

remove unused imports in forge/agent/base.py and forge/logging/config.py
  forge/forge/agent/base.py
  forge/forge/logging/config.py
Due: isort-forge, pytest-autogpt, pytest-forge

replace uses of `ChatModelProvider` by `MultiProvider`
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/generators.py
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/README.md
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/app/agent_protocol_server.py
  autogpt/tests/conftest.py
  docs/content/forge/components/creating-components.md
  forge/forge/components/action_history/action_history.py
  forge/forge/components/action_history/model.py
  forge/forge/components/web/selenium.py
  forge/forge/content_processing/text.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

remove unused import
  forge/forge/components/action_history/model.py
Due: isort-forge, pytest-autogpt, pytest-forge

fix type issues with `ActionProposal` on `BaseAgent`, `Agent` and `WatchdogComponent`
  autogpt/autogpt/agents/agent.py
  forge/forge/agent/base.py
  forge/forge/components/watchdog/watchdog.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

fix type issues in `autogpt.agent_factory`
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/profile_generator.py
Due: isort-autogpt, pytest-autogpt

fix type issues with `PromptStrategy`
  autogpt/autogpt/agents/prompt_strategies/one_shot.py
  forge/forge/llm/prompting/base.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

fix type issues in `autogpt.app`
  autogpt/autogpt/app/main.py
  autogpt/autogpt/app/utils.py
Due: isort-autogpt, pytest-autogpt

fix type issues in autogpt/tests
  autogpt/tests/integration/agent_factory.py
  autogpt/tests/unit/test_gcs_file_storage.py
  autogpt/tests/unit/test_s3_file_storage.py
  autogpt/tests/vcr/__init__.py
Due: isort-autogpt, pytest-autogpt

fix type issues in autogpt/scripts
  autogpt/scripts/check_requirements.py
  autogpt/scripts/git_log_to_release_notes.py
Due: isort-autogpt

add autogpt/scripts/ folder to pre-commit file filters for flake8 and pyright
  .pre-commit-config.yaml
Due: none

fix issues with imports of type vars
  forge/forge/agent/base.py
  forge/forge/agent/protocols.py
  forge/forge/components/watchdog/watchdog.py
Due: isort-forge, pytest-autogpt, pytest-forge

lint benchmark challenges
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/artifacts_out/password_generator.py
Due: isort-benchmark

lint cli.py
  cli.py
Due: none

fix all linting issues in forge
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/app/main.py
  autogpt/tests/integration/test_execute_code.py
  autogpt/tests/unit/test_gcs_file_storage.py
  autogpt/tests/unit/test_json.py
  autogpt/tests/unit/test_local_file_storage.py
  autogpt/tests/unit/test_s3_file_storage.py
  forge/forge/__main__.py
  forge/forge/agent/__init__.py
  forge/forge/agent/agent.py
  forge/forge/agent/agent_test.py
  forge/forge/agent_protocol/api_router.py
  forge/forge/agent_protocol/database/__init__.py
  forge/forge/agent_protocol/database/db.py
  forge/forge/agent_protocol/database/db_test.py
  forge/forge/agent_protocol/models/__init__.py
  forge/forge/agent_protocol/models/task.py
  forge/forge/command/__init__.py
  forge/forge/command/command.py
  forge/forge/components/action_history/__init__.py
  forge/forge/components/code_executor/__init__.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/components/context/__init__.py
  forge/forge/components/file_manager/__init__.py
  forge/forge/components/git_operations/__init__.py
  forge/forge/components/image_gen/__init__.py
  forge/forge/components/system/__init__.py
  forge/forge/components/system/system.py
  forge/forge/components/user_interaction/__init__.py
  forge/forge/components/watchdog/__init__.py
  forge/forge/components/web/__init__.py
  forge/forge/file_storage/__init__.py
  forge/forge/json/__init__.py
  forge/forge/llm/providers/groq.py
  forge/forge/llm/providers/schema.py
  forge/forge/speech/__init__.py
Due: isort-autogpt, isort-forge, pytest-autogpt, pytest-forge

fix all linting issues in benchmark/
  benchmark/.flake8
  benchmark/agbenchmark/challenges/library/ethereum/check_price/artifacts_in/test.py
  benchmark/agbenchmark/challenges/library/ethereum/check_price/artifacts_out/test.py
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/artifacts_out/tic_tac_toe.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_in/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_in/test_negative.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/test_negative.py
  benchmark/agbenchmark/utils/dependencies/__init__.py
  benchmark/agbenchmark/utils/dependencies/constants.py
  benchmark/agbenchmark/utils/dependencies/graphs.py
  benchmark/agbenchmark/utils/dependencies/main.py
  benchmark/agbenchmark/utils/dependencies/util.py
  benchmark/agbenchmark/utils/get_data_from_helicone.py
  benchmark/agbenchmark/utils/prompts.py
  benchmark/reports/format.py
  benchmark/tests/test_benchmark_workflow.py
Due: isort-benchmark

exclude agbenchmark/reports/ from flake8
  .pre-commit-config.yaml
  benchmark/.flake8
Due: none

remove test for deprecated image gen failure behavior
  autogpt/tests/integration/test_image_gen.py
Due: isort-autogpt, pytest-autogpt

use actual temporary dir for forge tests instead of forge/test_workspace/
  forge/forge/agent/agent_test.py
  forge/forge/conftest.py
Due: isort-forge, pytest-autogpt, pytest-forge

remove flag for uninstalled pytest plugin in benchmark-ci.yml and forge-ci.yml
  .github/workflows/benchmark-ci.yml
  .github/workflows/forge-ci.yml
Due: none

fix initialization error in `agbenchmark.reports.ReportManager:SessionReportManager`
  benchmark/agbenchmark/reports/ReportManager.py
Due: isort-benchmark

remove non-existent tests/ folder args from pytest command in forge-ci.yml
  .github/workflows/forge-ci.yml
Due: none

Path conditions:
  isort-autogpt: any of: ^autogpt/ and \.py$
  isort-forge: any of: ^forge/ and \.py$
  isort-benchmark: any of: ^benchmark/ and \.py$
  pytest-autogpt: any of: ^(autogpt|forge)/((autogpt|forge|tests)/|poetry\.lock$)
  pytest-forge: any of: ^forge/(forge/|tests/|poetry\.lock$)
